.main-navigation {
	position: fixed;
	z-index: 9999;
	text-decoration: none;
	background-color: $color_header_1;
	width: 100%;
}

.main-navigation ul {
    list-style:none;
    margin:0;
    padding:0;
    background-color: $color_header_1;
}
.main-navigation ul:before,.main-navigation ul:after {
    content:"";
    display:table;
}
.main-navigation ul:after {
    clear:both;
}
.main-navigation ul > li {
    float:left;
    position:relative;
}
.main-navigation a {
	height: 70px;	/* this must agree below*/
	font-size: 18px;
    display:block;
    padding:10px 15px;
    line-height:1.2em;
    color:$color_text_2;
    text-decoration: none;
}
.main-navigation a:hover {
    text-decoration:none;
    background-color: $color_logo_2;
}
.main-navigation li ul {
    background-color: $color_header_1;;
}
.main-navigation li ul li {
    width:220px;
}
.main-navigation li ul a {
    border:none;
}
.main-navigation li ul a:hover {
    background: $color_logo_2;
}

.main-navigation li ul {
    position: absolute;
    left:0;
    top:70px;	/* make sure this agrees to "main-navigation a" height*/
    z-index:1;
}
.main-navigation li ul li {
    overflow:hidden;
    height:0;
    -webkit-transition:height 300ms ease-in;
    -moz-transition:height 300ms ease-in;
    -o-transition:height 300ms ease-in;
    transition:height 300ms ease-in;
}
.main-navigation ul > li:hover ul li {
    height:36px;
}


@media screen and (max-width: 700px) {

	.main-navigation {
		display: none;
	}
}