.center {
	text-align: center;
}

.header_standard {
  position: relative;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: none;
  background-color: #fff;
  h1 {
  	color: #fff;
  	font-weight: 200;
  }
}

.bottom_dark {
  width: 100%;
  text-align: center;
  background-color: $color_bg_4;
  position: absolute;
  bottom: 0;
}

.bg_color {
	width: 100%;
	background-color: $color_bg_2;
}

.bg_color_w {
	width: 100%;
	background-color: $color_bg_1;
}

.header_intro {
	padding: 1.5em;
	margin: 4em auto;
	width: 95%;
	background-color: $color_bg_1;
	color: $color_logo_1;
}

.header_intro_g {
	width: 90%;
	padding: 1.5em;
	margin: 4em auto;
	background-color: $color_bg_2;
	color: $color_logo_1;
}

.break {
	width: 100%;
	min-height: 120px;
	margin: 3em 0;
	padding: 2em;
	background-color: $color_logo_1;
	color: $color_text_2;
	box-shadow: 0 0 12px 2px rgba(0, 0, 0, .4);
	text-align: center;
	h2 {
		font-weight: 300;
	}
}

.list_container {
	width: 100%;
	padding: 1em;
	background-color: $color_bg_1;
}

.fa-ul {
	width: 90%;
	padding: 0;
 	background-color: $color_bg_1;
 	li i {
		color: #1D9C72;  /* medium green */
 	}
}

.tile {
	clear: both;
	margin: 2em auto;
	padding: 1em;
	background-color: $color_bg_1;
	max-width: 500px;
	img {
		display: block;
		width: 300px;
		margin: .5em auto;
	}
	h3 {
		text-align: center;
		margin: 0;
		padding: 0;
	}
	hr {
		width: 70%;
		background-color: $color_text_3;
	}
}

/*=services page*/
#services {
	padding-bottom: 4em;
}

/*=contact page*/
#contact {
	padding-bottom: 4em;
	color: $color_text_3;
	a {
		display: block;
		color: $color_text_3;
		&:hover {
			color: $color_logo_2;
			-webkit-transition: all .3s;
			-moz-transition: all .3s;
			-ms-transition: all .3s;
			-o-transition: all .3s;
			transition: all .3s;  
		}
	}
}





